#logout {
	position: relative;
	opacity: 0.5;
}

.logout-bye {
	font-family: "Cherry Bomb One", cursive;
	font-size: 1rem;
	text-shadow: var(--btnshadow);
	width: 100px;
	visibility: hidden;
	position: absolute;
	z-index: 1;
	top: 20%;
}

#logout span:nth-child(2) {
	right: -45px;
}

#logout span:last-child {
	left: 32px;
}

#logout:hover {
	cursor: pointer;
	transform: scale(1.2);
	text-shadow: var(--btnshadow);
	opacity: 1;
}

#logout:hover .logout-bye {
	visibility: visible;
}
